# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints

# Testing and Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover

# Environments
.venv/
env/
venv/
ENV/

# Application Specific Logs
auditoria_descuentos.txt
